/* .pc-sidebar {
  height: 100vh;
  overflow-y: auto;
} */

.pc-sidebar .navbar-content {
  max-height: calc(100vh - 50px);
  /* Trừ đi chiều cao header nếu có */
  overflow-y: auto;
  /* Cho phép cuộn dọc */
}

.widget-container {
  display: flex;
  flex-direction: column;
  /* Hiển thị các liên hệ theo chiều dọc */
  position: fixed;
  /* Đặt vị trí cố định */
  bottom: 70px;
  /* Cách đáy 10px */
  right: 30px;
  /* Cách phải 10px */
  gap: 10px;
  /* Khoảng cách giữa các liên hệ */
  z-index: 10000;
  /* Đảm bảo hiển thị trên các thành phần khác */
}

.widget-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lienhe {
  cursor: pointer;
  width: 50px;
  /* Chiều rộng của logo */
  height: 50px;
  /* Chiều cao của logo */
  transition: all 0.5s ease;
  /* Hiệu ứng khi hover */
}

.custom-loading-popup {
  background: transparent !important;
  box-shadow: none !important;
}

.custom-loading-title {
  font-size: 20px !important;
}

.input-editable {
  background-color: #fffbe6 !important;
}

.language-html {
  background: #2d2d2d !important;
  color: #ffffff !important;
  padding: 15px !important;
  border-radius: 5px !important;
  overflow-x: auto !important;
  font-weight: bold !important;

}